[2016-06-04 16:25] oyeanuj opened #1 "Demo not working"
Hi there! I was looking to try out our library but the demo link isn't working. Could you please take a look?

Thanks!

[2016-06-08 16:28] rpearce commented on #1
Yeah! Sorry I just got this message

[2016-06-08 16:41] rpearce commented on #1
I've updated the link on the repo to where it is now and also published 0.1.3 (removed some unused code):
http://rpearce.github.io/react-expanding-textarea/example/index.html

Let me know if you have any issues

[2016-06-08 16:41] #1 closed

[2017-08-11 13:49] lloydwatkin opened #2 "`maxHeight` property would be great"

[2017-08-11 21:19] rpearce commented on #2
Hey I'm moving around a bit today but can look at this ASAP

[2017-08-11 22:12] lloydwatkin commented on #2
Great. If not then I'll need to tackle at some point. Thanks for the
library!

On 11 Aug 2017 10:19 pm, "Robert Pearce" <notifications@github.com> wrote:

Hey I'm moving around a bit today but can look at this ASAP

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/rpearce/react-expanding-textarea/issues/2#issuecomment-321

[2017-08-12 03:19] rpearce commented on #2
Would it be more appropriate to pass a className or style prop that uses CSS max-height to set the value instead?

[2017-08-12 23:50] rpearce commented on #2
@lloydwatkin I just tried this out in the example (note the `style` prop), and it successfully set a `max-height` style property on the element (the browser makes it fall back to overflow: auto; i.e., a scrollbar). The same could be accomplished with the `textarea` classname if it held `max-height: 300px`.

[code]

I think using `className` or `style` to set a max-height style property should suff

[2017-08-12 23:50] #2 closed

[2017-08-14 10:48] lloydwatkin commented on #2
I was hoping for something that limited the maximum number of rows, which is kind of what you've achieved here but more simplistic (i.e. developer doesn't need to calculate heights etc). I'll see how it goes with this and if not submit a PR. Thanks!

[2017-08-14 19:50] rpearce commented on #2
I'm not sure this library should get in to deriving line-height, font-size, widths, available visible space and any other factors, as the requirements will vary from project to project. If you know your line height for your textarea beforehand, then this is a static value that you should be able to do math with and either pass a `maxHeight` style prop or set it in the CSS beforehand with `max-heig

[2017-08-15 10:48] lloydwatkin opened #4 "Issue testing with enzyme"
Issue is here https://github.com/rpearce/react-expanding-textarea/blob/master/src/ExpandingTextarea.js#L20-L21

In tests if you do something like:

[code]

Error message returned is '_Attempted to assign to readonly property_' (techincally these properties should be read only https://developer.mozilla.org/en-US/docs/Web/API/Event, but obviously that isn't happening in browsers since the property i

[2017-08-15 21:45] rpearce commented on #4
I find GH Issues themselves to be good documentation of issues & workarounds people have found – they help my colleagues and I immensely every few days! Thank you for writing this all out, and it will help someone in the future, no doubt.

[2017-08-15 21:45] #4 closed

[2017-10-03 08:39] jch254 opened #5 "Utilise prop-types package instead of React.PropTypes"
Hi, great work with this package. Unfortunately I am unable to use with React 16 as PropTypes is no longer included as part of React. The solution is to utilise the [prop-types package](https://github.com/facebook/prop-types).

Cheers

[2017-10-03 23:08] rpearce commented on #5
@jch254 thank you for reporting this! I should have done this ages ago. I'll put it on my to-do list and get to it in the next day or so. If you need it ASAP, let me know, and I'll shift my schedule around a bit to help you out.

[2017-10-03 23:24] jch254 commented on #5
Awesome cheers @rpearce! I'm in no hurry so take your time 👍

[2017-10-04 18:24] visgotti opened #6 "onsubmit functionality"
Any chance you can add an onSubmit so when pressing enter it fires off

[2017-10-04 22:18] rpearce commented on #6
@visgotti I believe pressing return/enter inside of a `<textarea>` creates new lines and does not submit a form, thus this request might not make sense. However, any props you pass to the component will be set as props on the textarea (think `onInput` or `onKeyUp`). For your use case, you could use `onKeyUp`, check if the key code is the one for return/enter, then submit your form yourself.

[2017-10-04 22:18] #6 closed

[2017-10-04 22:41] visgotti commented on #6
Yeah that's actually pretty much what I winded up doing. Just used onKeyUp and then check the key code.

[2017-10-04 22:48] rpearce commented on #5
@jch254 can you give https://github.com/rpearce/react-expanding-textarea/pull/7 some 👀 ? Should be good to go. If so, I'll merge and publish `v0.1.9`

[2017-10-05 09:33] jch254 commented on #5
Brilliant good stuff thxagain

[2017-10-06 00:46] #5 closed

[2017-10-06 00:47] rpearce commented on #5
@jch254 This is now published under `v0.1.9`

[2017-10-21 22:09] visgotti opened #8 "Default value isn't resizing"
So when I give a default value into the text box it doesnt auto resize to it, is there a property I'm missing?

[2017-10-21 22:13] #8 closed

[2018-04-23 12:35] thomassnielsen opened #10 "The size should change when the textarea value is changed"
We're using react-expanding-textarea as an input field to a chat. We empty the textarea by setting value to an empty string on submit. This does not resize the textarea back to the initial size.

Our current workaround is to save a ref to the component and call `this.textarea._adjustTextarea(this.textarea);`, which is not optimal and depends on an internal function not changing.

[2018-04-24 10:02] thomassnielsen commented on #10
This is a simplified version of our code where I've stripped out all irrelevant code. In this case, when you submit and the textarea is emptied through the value being set to `''`, the textarea doesn't resize back to the original size.

[code]

[2018-04-24 22:25] rpearce commented on #10
@thomassnielsen thank you so much for providing this. I will make time for it within the next day or so and tag you and this issue on the pull request.

[2018-04-27 04:07] rpearce commented on #10
@thomassnielsen I still haven't had a chance yet to get to this. Soon, I promise.

[2018-04-27 04:47] thomassnielsen commented on #10
No worries! we’ve got a workaround for now, so nothing is on fire at our end. Thank you for your commitment!

[2018-04-29 07:25] rpearce commented on #10
@thomassnielsen https://github.com/rpearce/react-expanding-textarea/pull/11 should fix your issue. I'll cut a release shortly

[2018-04-29 07:28] #10 closed

[2018-04-29 07:30] rpearce commented on #10
@thomassnielsen upgrading to v`0.1.10` should solve your problem! If it doesn't, please let me know.

[2018-04-30 08:38] thomassnielsen commented on #10
Perfect! I've tested this now and it works as expected. Thank you so much! I even learned something reading through your changes.

[2018-06-05 21:53] steida opened #13 "Comment height = 0"
Why? `target.style.height = 0` before `target.style.height = `${target.scrollHeight}px``

[2018-06-05 21:58] rpearce commented on #13
@steida Thanks! :)

Please let me know if you have any more issues by opening another Issue.

[2018-07-11 13:08] cibulka opened #14 "Default number of rows?"
Is there a recommended way how to set the minimum number of rows for `react-expanding-textarea`? Settings attribute `rows` does not seem to work.

[code]

Thanks in advance!

[2018-07-15 07:20] rpearce commented on #14
I'm not 100% sure I want to add that functionality, but I'm more than willing to chat about it.

Let's see what might go into it:
* `line-height` * `n` where `n` is `minRows`
* add in vertical `padding` calculation to get final number
* set the height to `Math.max(minHeight, height)` where `minHeight` is the result of the calculation and the `height` is what it would be

Does that sound right? Wha

[2018-07-17 12:51] cibulka commented on #14
Pretty much.

I like that your library just works out of the box - with no additional CSS configuration. As HTML attributes `rows` do what I'm after, it would be great, if your library took that into account.

[2018-07-17 21:46] rpearce commented on #14
I dig it. I'll see what I can do when I get some time soon

[2018-07-31 05:08] rpearce commented on #14
Update: taking a stab at this now...

[2018-07-31 06:33] rpearce commented on #14
@cibulka Can you please review https://github.com/rpearce/react-expanding-textarea/pull/17?

[2018-08-06 22:31] rpearce commented on #14
(pinging @cibulka again)

[2018-08-07 06:48] cibulka commented on #14
Sorry for the delay. Looks & works great though, I very much approve!

[2018-08-07 06:48] #14 closed

[2018-08-07 20:48] rpearce commented on #14
@cibulka This is now published under version `0.2.0`. Thanks for contributing!

[2019-02-15 17:37] jbsmith731 opened #18 "Take top/bottom border into account for sizing"
I have a textarea with a 2px bottom border and it's not being taken into account when calculating the height. The input should be 40px tall but it's being calculated as 38px.

[2019-02-18 07:16] rpearce commented on #18
@jbsmith731 Thanks for submitting your issue! Do you mind providing an example so I can debug using that? Looks like I'm just using `lineHeight`, `paddingBottom` and `paddingTop` at the moment, but it'd be useful to have something to test against.

[2019-02-22 07:18] rpearce commented on #18
@jbsmith731 I'm almost done with a fix for this and am including it in a rewrite that uses react hooks. I'll check back here when I'm done!

If you need a fix that requires a React peer dependency < 16.8, let me know, and I can see about putting out a separate fix that doesn't require hooks.

[2019-02-22 18:40] jbsmith731 commented on #18
@rpearce thanks so much for checking back in. I've been so swamped I wasn't able to get back with an example. Thanks again for your hard work!

[2019-02-24 02:44] #18 closed

[2019-02-24 02:49] rpearce commented on #18
@jbsmith731 This should now be available for use in version `1.0.0`, and note that this was included in a total rewrite that uses React hooks and has a peer dependency of React `>= 16.8`.

Thanks for the bug report, and you've been added to the All Contributors list: https://github.com/rpearce/react-expanding-textarea#contributors

[2019-02-25 13:38] jbsmith731 commented on #18
@rpearce this is awesome. Can't wait to check out the update! Thank you, sir!

[2019-05-24 21:53] rpearce opened #22 "bump deps to resolve security issues"

[2019-09-07 04:02] #22 closed

[2019-09-09 13:28] rpearce opened #29 "resolve security issues"

[2019-09-11 03:46] #29 closed

[2019-10-08 08:16] raunofreiberg opened #31 "Scrollbar is not taken into consideration"
Consider the example in http://rpearce.github.io/react-expanding-textarea/

The textarea grows in height, even though the text can still fit on one line.

![image](https://user-images.githubusercontent.com/23662329/66378639-9128bb80-e9bc-11e9-9888-a13fc2797e3e.png)

This happens because the textarea has a scrollbar on it, that is not shown because there isn't a max height on the textarea. It is po

[2019-10-08 12:02] rpearce commented on #31
Interesting! Thank you for reporting this. What browser and operating system are you using?

[2019-10-08 12:45] raunofreiberg commented on #31
OS: macOS Mojave 10.14.5 (18F132)
Browser: Google Chrome Version 77.0.3865.90 (Official Build) (64-bit)

I took a look at other examples (e.g. https://andreypopp.com/react-textarea-autosize/) and the textarea only seems to grow when absolutely necessary.

Thanks!

[2019-10-08 14:06] rpearce commented on #31
Thanks for the info!

Do you happen to also have scrollbars always on on your macOS or Chrome (if that's even an option)? I want to be sure I can recreate this

[2019-10-10 06:08] raunofreiberg commented on #31
The scrollbars don't always appear, no. Does the example on `rpearce.github.io` reproduce for you?

[2019-10-10 15:42] rpearce commented on #31
No, I don't see scrollbars at all in Chrome or Firefox on latest of each in latest macOS, and I don't see it grow when it doesn't need to.

Can you copy & paste the exact text you're using to recreate the issue?

[2019-10-11 12:23] raunofreiberg commented on #31
![image](https://gyazo.com/0a75ce301274e56db89931a7ca76feba.gif)

I don't know if we're speaking about the same issue or not, but this is what I consider to be an issue. The textarea grows in size before actually needed (as you can see more text can fit on a single line when it does). Not sure if this is related to scrollbars or not?

[2019-10-12 17:55] rpearce commented on #31
That's very interesting, indeed. Thank you for investigating that further. I'm away for the weekend at a work thing but can either hop on this when I'm back, or you can submit a PR!

[2019-10-14 23:37] #31 closed

[2019-10-14 23:47] rpearce commented on #31
Your fix should now be in `v2.0.3`!

Welcome to the contributors list, too!
<img width="359" alt="image" src="https://user-images.githubusercontent.com/592876/66789861-fe68af00-eedc-11e9-897d-5b3037dfa5ff.png">

[2019-12-23 13:39] Puspendert opened #33 "auto adjusting Issues with Firefox"
In Firefox with react version `16.9.0` or greater, the focus while typing is lost. On mobile firefox, `TextArea` is not maintaining the text state.
Chrome is working fine. Here is a screen recording for reference.
[Video on  youtube](https://www.youtube.com/watch?v=fAQdeE6jQqU)

[2019-12-23 14:29] rpearce commented on #33
@Puspendert Thank you for filing this issue. I will check it out ASAP

[2019-12-23 19:05] Puspendert commented on #33
@rpearce  Could you please test the resolution. At my end it's working fine after the patch.

[2019-12-23 19:38] rpearce commented on #33
Unfortunately, removing that line of code will re-introduce this bug: https://github.com/rpearce/react-expanding-textarea/issues/31. If you want to keep trying, by all means do; otherwise, I'll get to addressing this when it's convenient (it's my next priority).

[2019-12-23 20:20] Puspendert commented on #33
I tried reproducing the issue #31 on chrome and firefox, but luckily it's working fine on my system. Not any "auto growing height" issue coming up to me. Will wait for your testing and response on this, till the time I would comment that `auto` part.

versions:
MacOS 10.14.6
Firefox 71.0
Chrome 79.0.3945.88

[2019-12-23 21:06] rpearce commented on #33
@raunofreiberg do you have any thoughts on his issue?

[2020-01-06 02:50] rpearce commented on #33
I'll try to address this issue this week

[2020-01-17 10:53] tknuts opened #36 "Exposing ref"
We need to be able to access "ref" on the textarea to be able to set focues() on the textarea from the parent.

Or you could expose a "SetFocus" prop :-)

[2020-01-17 15:02] rpearce commented on #36
I can consider [forwarding a ref](https://reactjs.org/docs/forwarding-refs.html), but I'm not :100: sure I want to do that (hooks don't generally like it when you make them conditional).

I'll come up with something but just need a little time to think about it!

[2020-01-17 15:03] rpearce commented on #33
_Still haven't gotten back to this yet. On my to-do list._

[2020-01-20 02:30] #36 closed

[2020-01-20 02:39] rpearce commented on #36
@tknuts This should be resolved by #37 and is published in version `2.1.1`.

I have also added you to the [All Contributors list](https://github.com/rpearce/react-expanding-textarea#contributors)! Thank you for your contribution to this project.

<img width="956" alt="image" src="https://user-images.githubusercontent.com/592876/72694766-0fedd280-3b2e-11ea-9670-36cb713155f1.png">

[2020-01-24 01:46] rpearce commented on #33
:eyes:

[2020-01-24 01:58] rpearce commented on #33
@Puspendert I am _so_ sorry for the wait on this. I misunderstood, and after looking at it again with fresh eyes, your fix looks good.

You need to alter your pull request to point to this repository's `master` branch. Once you do that, I'll merge it, add you to the contributors list, and publish!

[2020-01-24 16:16] Puspendert commented on #33
Please check it. It's my first fork that is going to merge with `master` so no experience. I clicked on the **Merge to Master**

[2020-01-26 13:46] rpearce commented on #33
@Puspendert You merged this in to your _own_ fork. The [contributing guidelines](https://github.com/rpearce/react-expanding-textarea/blob/master/CONTRIBUTING.md) specify the steps for contributing, and this is standard in open-source.

Try creating another pull request from your branch (_not_ master) to _this_ repository's `master` branch. Here is a resource that might help: https://egghead.io/cou

[2020-02-05 01:59] #33 closed

[2020-02-05 02:05] rpearce commented on #33
@Puspendert I decided to not wait any longer for your PR to get sorted out, and I went ahead and resolved the issue. You should be able to see the fix in version `2.1.2`. I also added you to the All Contributors list in the README to thank you for your bug report contribution!
<img width="299" alt="image" src="https://user-images.githubusercontent.com/592876/73804496-e4b8e380-47bb-11ea-84a0-0d4a52

[2020-03-06 04:13] chrisdrackett opened #39 "don't expand if value does not change based on input"
I'm trying to create a text area that will resize if it overflows, but submits when the user presses enter. I'm trying the following code:

[code]

this is mostly working, however I'm running into an issue where the text area will grow when I press `enter`.

[2020-03-07 14:09] rpearce commented on #39
Hello, and thank you for using this and asking a question!

I believe that `enter`/`return` in a regular browser `<textarea>` has the same functionality as this; pressing `enter` will result in a newline, so this is expected. You can view this here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea.

This component is built around the notion that it should be an expanding `<textar

[2020-03-07 19:21] chrisdrackett commented on #39
No worries, I was able to get this myself by preventing default on keydown when the key is an enter key.

My use-case is that I want a single line field (no new lines) that instead of expanding horizontally expands vertically so the user can still read all the text. I’m good to go using the keydown event!

[2020-03-07 22:36] #39 closed

[2020-03-07 22:37] rpearce opened #40 "Convert to TypeScript"

[2020-03-14 13:05] #40 closed

[2020-06-02 06:51] 1v opened #43 "maxHeight no scrollbar"
When adding `maxHeight` and text has many lines - scroll bar in textarea is not appears because `overflow-y: hidden;` added to textarea.

[2020-06-02 15:05] rpearce commented on #43
@1v can you please provide a project demo that demonstrates this issue? That would be very helpful!

[2020-06-04 00:57] rpearce commented on #43
@elitenoire thank you for walking me through exactly how to reproduce the issue. I'll see what I can do

[2020-06-18 03:52] rpearce commented on #43
I started looking into this and didn't see a quick solution; I apologize for the delay. I've been working extensively on https://github.com/rpearce/image-zoom/pull/244 in my spare time and haven't made time for this yet.

If anybody cares to open a PR that fixes this and does not regress other issues, that would definitely speed this along!

[2020-06-22 23:59] chrisdrackett commented on #43
running into something similar but the height is handed outside of the `textarea` I might have time to take a look at both tomorrow

[2020-06-25 00:51] rpearce commented on #43
Any help is appreciated!

[2020-07-30 14:44] ghert commented on #36
@rpearce
Can you release new version?

[2020-07-30 17:42] rpearce commented on #36
@ghert That was a typo above; I meant `2.1.0`. Here is the line in the CHANGELOG in the PR that added this functionality: https://github.com/rpearce/react-expanding-textarea/pull/37/files#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR10

Sorry for the confusion!

[2020-08-12 15:40] markathomas opened #47 "Cannot use with typescript"
Attempting to use with typescript via the following declaration:
[code]

and receiving the following error:

`TS2339: Property 'name' does not exist on type 'IntrinsicAttributes & TextareaProps & RefAttributes '.`

[2020-08-14 20:32] rpearce commented on #47
Hi! I'm sorry you're experiencing a problem :(

Based on https://github.com/rpearce/react-expanding-textarea/blob/master/source/index.tsx#L51-L58, would you know off the top of your head what the problem is? I can't look at this until the weekend. Do I need to export that interface? 🤔

[2020-08-15 20:10] markathomas commented on #47
I'm not sure

[2020-08-18 13:33] rpearce commented on #47
Okay. I haven't gotten to this yet, but it's on my to-do list.

[2020-08-28 00:56] rpearce commented on #47
@markathomas I'll get to this in the next couple of days. Thanks for your patience.

[2020-08-29 01:54] rpearce commented on #47
@markathomas can you try version `2.2.2`?

[2020-08-29 02:03] #47 closed

[2020-08-29 02:08] rpearce commented on #43
@chrisdrackett did you find a solution to this that you could share?

[2020-08-29 02:37] #43 closed

[2020-08-29 02:39] rpearce commented on #43
@1v @elitenoire @chrisdrackett This should be resolved in `v2.2.3`, and you can check it out here: https://rpearce.github.io/react-expanding-textarea/?path=/story/expandingtextarea--with-max-height.

If you have any more issues with this, I will reopen the issue.

Thank you all for your contributions by reporting this! I've added you to the all contributors list in the README.

[2020-10-05 14:20] simonsmith opened #52 "ref as a function breaks resizing"
Hello,

If I pass a function as the `ref` the resizing breaks, and I presume this is because the textarea relies on the `ref.current` to be an element. However libraries like `react-hook-form` pass a `register` function as the ref which gets the element as the only argument.

Thanks

[2020-10-05 15:14] rpearce commented on #52
@simonsmith I'm not sure at the moment if I'll want to support the old ref-as-a-function technique.

As this library has a React peer dependency of >=16.8, you should have access to `createRef` (just as this lib uses [here](https://github.com/rpearce/react-expanding-textarea/blob/ce686cc4dff017ea5910c05a2575e9529edb2420/source/index.tsx#L74)), and that is an object with `current` inside of it, jus

[2020-10-06 12:17] simonsmith commented on #52
That's no good for me unfortunately but I've found a workaround with `react-hook-form`. I'll post it here as reference for anyone else:

[code]

Cheers

[2020-11-25 04:55] jordie23 commented on #52
Thanks for posting your work around @simonsmith I just ran into this exact same issue, using react-hook-form.

@rpearce Firstly, thanks for this package, it's great! If you have free time I would suggest looking into support for it as react-hook-form is quickly becoming widely adopted. You can see the trend graph here surging https://www.npmjs.com/package/react-hook-form - it's at 500,000+ downloa

[2020-11-27 00:34] rpearce commented on #52
Ok, I've reopened this and will think more about how to do this.

@jordie23 can you please provide an example, using `react-hook-form`, of how you're using these two together? This will allow me to easily get going and test out solutions.

[2020-11-27 01:47] jordie23 commented on #52
Thanks @rpearce

I've come up with an example here. https://codesandbox.io/s/react-hook-form-basic-forked-qb778?file=/src/index.js

It shows how react-hook-form is used with a normal input and textareas. You'll see the field registered with the default `ref={register}` and with validation in the form of `ref={register({required: true})}`. I've then included your expanding text box, once without th

[2020-11-29 11:33] VitalyKrenel opened #53 "Github Pages demo page is not available"
Hey folks!

Right now, the demo page is not available: https://rpearce.github.io/react-expanding-textarea/
![image](https://user-images.githubusercontent.com/17354709/100540676-bd9e3780-324f-11eb-9cf7-f151475b873c.png)

Might be that after switching from `master` branch to `main` the Github Pages was not updated to point to `main` as well.

[2020-11-30 12:46] VitalyKrenel commented on #53
CC: @rpearce @raunofreiberg

[2020-12-02 13:50] rpearce commented on #53
Thanks! You were absolutely right. It's published now.

[2020-12-02 13:50] #53 closed

[2020-12-02 13:53] rpearce commented on #52
@jordie23 With my 8 week old child needing attending to every little while, I haven't found time to work on this yet. It's on my mind, though.

[2020-12-03 20:08] rpearce commented on #52
I'm looking at this and am not yet sure how to forward a function ref _that I can also get access to_.

https://github.com/react-hook-form/react-hook-form/blob/8c198d88cb46e55a7ef709767726e6e8c56a3eab/src/useForm.ts#L1283

👆 This code from `react-hook-form` shows that it is indeed a callback function and also leads down a bit of a rabbit hole for trying to figure out what it does.

Ultimately, I n

[2020-12-03 20:28] jordie23 commented on #52
@rpearce There’s no rush on this. Congrats on the baby :) we have a work around so don’t put too much time in if you don’t have any right now.

react-hook-form has another way of working, using its Controller component I’ve found out. I wonder if that’s just what we need to use here. (As in, you probably don’t need to do anything and we need to use this method) https://react-hook-form.com/api/#Con

[2020-12-03 20:30] jordie23 commented on #52
I’ll have a play around and see if I can come up with something. If I can I’ll post here and maybe the solution here is to add the code sample to the docs

[2020-12-03 20:40] rpearce commented on #52
Thanks! Okay, that works for me.

Alternatively, here's the 1 concept that would need to get worked around to make this work:

https://github.com/rpearce/react-expanding-textarea/blob/main/source/index.tsx#L79

That `ref.current` is how this lib accesses the textarea DOM node, so if there's a way to access that DOM node _and_ allow for whatever ref you pass to get applied, then 🎉 .

[2020-12-03 21:03] rpearce commented on #52
In other news, I've added @simonsmith and @jordie23 to the all contributors list as of https://github.com/rpearce/react-expanding-textarea/pull/54/files.

[2020-12-05 17:24] simonsmith commented on #52
I haven't tested this, but could you do something like:

[code]

Always create a `ref` and set its default value if the user passes one in from the outside. If it's a function (for RHF) then pass it along.

[2020-12-07 17:39] rpearce commented on #52
Alright, I'll take a look. Thank you for the help

[2020-12-07 23:21] rpearce commented on #52
@simonsmith @jordie23 would y'all mind checking out https://github.com/rpearce/react-expanding-textarea/pull/55 and seeing if the test and new storybook story make sense and if this concept will work for you?

[2020-12-08 21:26] rpearce commented on #52
This should be closed by #55 and released in version `2.3.0`!

Please let me know if there are any further issues. Thanks for the help!

[2020-12-08 21:26] #52 closed

[2020-12-14 02:22] jordie23 commented on #52
@rpearce Sorry for the delayed reply. This does fix it for me. Thanks! Appreciate the effort a lot.

[2021-06-14 10:00] simonsmith opened #60 "Allow updating of textarea height on initial render"
Hey,

I'm building a feature where I restore text to the textarea from `sessionStorage` on render and I note that it doesn't update the height when I refresh the page and set the value:

![2021-06-14 10 36 32](https://user-images.githubusercontent.com/360703/121874694-81b85480-ccff-11eb-9aad-a53ff804530f.gif)

Could the textarea detect this on initial render or perhaps provide an API for this?

Ch

[2021-06-17 02:41] rpearce commented on #60
@simonsmith Thank you for using this and submitting this issue! Could you share a code example (a demo repository would be :100:) of how you're using this so that I can easily reproduce it and address this faster?

[2021-07-22 03:05] rpearce commented on #60
@simonsmith were you able to figure something out?

[2021-07-23 06:05] simonsmith commented on #60
Hey, sorry for lack of reply. When I looked into it I couldn't replicate with just this library. I think it could be my setup with react-hook-form. It's quite a lot to unpick from the app I'm using it in which is why I got sidetracked.

I'll close this for now and if I find a concrete way to replicate I'll come back :)

[2021-07-23 06:05] #60 closed

[2021-08-11 12:47] crtl opened #61 "onChange should be hinted with ChangeEvent instead of FormEvent"
Currently onChange handler is wrongly typed with `FormEvent<HtmlTextareaElement>` instead of `ChangeEvent<HtmlTextaraeElement>` in [TextareaProps](https://github.com/rpearce/react-expanding-textarea/blob/main/source/index.tsx#L64)

`FormEvent.target` does not have `value` property and will cause error in strict environments.

[code]

Workaround is to explicitly convert type:
[code]

[2021-08-12 01:15] rpearce commented on #61
@ctrl thanks for reporting this. Let me see about rectifying it

[2021-08-12 01:38] rpearce commented on #61
@ctrl How does this look? Is there anything else with this that needs doing? https://github.com/rpearce/react-expanding-textarea/pull/63

[2021-08-12 12:06] crtl commented on #61
@rpearce Looks fine for me but honestly I have to ask how should I verify it?

Youve changed the type to ChangeEvent so it looks fine for me but I cannot use the branch in my CRA project because of loader issues which are ofc. unrelated to this issue.
Ive just used `yarn add https://github.com/rpearce/react-expanding-textarea.git#fix/change-event` to add it to my project but running start will cau

[2021-08-12 13:29] rpearce commented on #61
That's fair. Well, I think we'll be okay, for these reasons:

* the linters are happy
* the tests still pass
* I've seen other guides using `ChangeEvent` for these inputs / textareas, so it looks like I was just doing it wrong

Conversely, I could do a pre-bugfix-release, and you could test that, but I'm pretty confident this works.

If you don't care either way, I'll see about getting a patch out

[2021-08-13 00:48] #61 closed

[2021-08-13 00:55] rpearce commented on #61
This has been published under `v2.3.2`: https://www.npmjs.com/package/react-expanding-textarea/v/2.3.2

[2021-10-28 03:10] rpearce opened #67 "Don't commit docs/ to main branch; update workflow to auto-deploy to gh-pages"

[2021-10-28 03:10] rpearce opened #68 "Update dependencies, resolve security issues (if possible), and fix legacy-peer-deps install issue"

[2021-10-28 03:25] #67 closed, assigned to rpearce

[2021-10-28 03:55] #68 closed, assigned to rpearce

[2021-12-19 16:59] jamesmoss opened #71 "Textarea does not automatically recalculate size if it's parent container changes size"
If the textarea is 100% width and it's parent container changes size, the height of the text area is not re-calculated.

I've put together an example here https://codesandbox.io/s/cool-estrela-7wq7f?file=/src/App.js

By toggling the textarea to the wider size, there's loads of whitespace below the last line, once you focus in the field and start typing this gets correctly removed.

This needs to u

[2021-12-19 17:21] jamesmoss commented on #71
I've realised that there's also a similar issue if you change how the content inside the textarea looks, e.g changing font size through a style tag or adding a new css classname.  A new `useEffect` for both of those is needed to call `resize`

If you feel like tackling both these issues in this library is overkill then it'd be nice if the `resize` function was exposed somehow so we could add our o

[2021-12-19 18:04] jamesmoss opened #72 "Use useLayoutEffect instead of useEffect"
This change will prevent some flickering that I've seen, Kent describes it well here https://kentcdodds.com/blog/useeffect-vs-uselayouteffect:

I'd say this is the perfect use case.

[2021-12-20 04:11] rpearce commented on #72
@jamesmoss Thank you for bringing this up. I'll try it out with this and see how it goes

[2021-12-20 04:13] rpearce commented on #71
These are good callouts and ideas. I'll think about these this week and follow up

[2021-12-20 04:41] rpearce commented on #71
I fiddled with this diff for a few minutes:

[code]

The container resizing seems good, but font size changing still needs work. I'll ponder it in my spare time.

[2021-12-20 08:24] jamesmoss commented on #71
We're currently migrating from a crappy old jquery library and we used `MutationObserver` which works for our single use case but isnt pretty:

[code]

This is why I think recalculating on `style` and `className` props changing would make more sense, it won't cover all cases (e.g cascading styles from the parent changing styles/classes) but should get many and is way nicer than using `MutationObse

[2021-12-20 21:29] rpearce commented on #71
All of those are good recommendations, and if we were to include those, I would 💯 do that for checking if they exist.

Here's another thought: perhaps I could measure the scroll height of the textarea from one render to the next, and if that changes, recalculate? What would that not cover?

[2021-12-20 21:36] jamesmoss commented on #71
I dont think you could listen for changes to that in the DOM with `MutationObserver` so wouldn't cover this case.

[2021-12-20 21:58] rpearce commented on #71
@jamesmoss Good point

[2021-12-20 22:05] jamesmoss commented on #71
I've been thinking on this more this evening and doing some more research; I don't think there's a clean, performant way to listen for computed style changes until they invent a `StyleObserver`.  However, I'd love to be proven wrong here.

Right now I think the strategy using `ResizeObserver` for size changes and `useLayoutEffect` on `className` and `style` prop changes would be a best effort appr

[2021-12-21 03:17] rpearce commented on #71
Looks like I'm already exporting `resize`, and it accepts `(rows: number, el: HTMLTextAreaElement | null)`, so that's a plus.

How does this changeset strike you for the rest?

[code]

[2021-12-21 04:24] #72 closed

[2021-12-21 04:26] rpearce commented on #72
Checks out! I've got this queued up for the next patch-level release, and I've added you to the all contributors list in the README! Thanks for your time here.

[2021-12-21 10:02] jamesmoss commented on #71
Couple of things I can see:

1. `className` can also be an object (which has a `toString` method), many people use helpers like https://github.com/JedWatson/classnames lots (including our team). To prevent unnecessary resizes you should do something like `className?.toString()` in the dependencies array otherwise you'd have a fresh object each render and `useLayoutEffect` will always be called.
2.

[2021-12-21 13:52] jamesmoss commented on #71
Yeah you're totally right about `classnames`, ignore my comment there then. Agreed that `object-hash` is pretty heavy, since `styles` is only ever a one level deep map maybe there's something more simple that can be implemented.

[2021-12-21 15:17] rpearce commented on #71
Will look at https://github.com/streamich/fast-shallow-equal/blob/master/index.js later

[2021-12-22 04:21] rpearce commented on #71
I'm honestly exhausted, and I need to actually test this (Storybook), but here's a commit of attempting to shallow compare a `style` prop efficiently: https://github.com/rpearce/react-expanding-textarea/pull/78/commits/e2e891e0ccf281c5788696ececed25c75dcaf375

[2021-12-29 09:58] jamesmoss commented on #71
@rpearce Sorry for lack of input, I've been away over the Christmas break.

I had a look at your implementation, I'm sure you'd agree it looks pretty complex with the usage of refs.

How about instead of using `fast-shallow-equal` just write our own simple style hash function? I took a look at the types for `React.CSSProperties`, we can assume that the styles are effectively a shape of `Record<str

[2021-12-29 19:14] rpearce commented on #71
@jamesmoss Could you take a look at https://github.com/rpearce/react-expanding-textarea/pull/78 when you get some time?

[2021-12-30 22:12] rpearce commented on #71
I've updated this by pulling the logic into a custom, memoized-object-returning hook.

* * *

I'll think a bit more about the hashing / object checking. This lib still looks pretty good to me, but I need to think about the other options and their tradeoffs:

https://github.com/streamich/fast-shallow-equal/blob/fa68eb5a86cc0206191c165503338947e4eed9d3/index.js#L1-L17

[2022-01-03 19:14] rpearce commented on #71
I've done a bit of reading and comparing of implementations, and I think that tiny lib implementation combined with this feel good to me. Doing this in an ES5-ish-friendly manner to turn it into a string feels like a lot of strings getting created in memory, but then again, it would probably be negligible.

If there's any issue with this, I'm happy to circle back. I'm going to go ahead and cut a r

[2022-01-03 19:14] #71 closed

[2022-01-04 09:41] jamesmoss commented on #71
Hey, just wanted to say thank you so much for this. This definitely feels like the most robust react based expanding textarea lib I've come across now.

[2022-01-04 15:10] rpearce commented on #71
It only can be with help from good folx like you! I appreciate your investment here.

[2022-02-28 18:02] magoz opened #80 "Textarea height as a fractional value instead of an integer (more precision)"
The textarea css height value is always an integer, regardless of the true height of the textarea.
I'm assuming this is because `Element.scrollHeight` always rounds the value to an integer.

From mdn ([source](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollHeight#:~:text=Note%3A%20This%20property%20will%20round%20the%20value%20to%20an%20integer.%20If%20you%20need%20a%20fractional%2

[2022-02-28 18:44] rpearce commented on #80
@magoz I'm happy to explore that with you, and implementations are welcome!

Step 1: Having a reproducible use-case where it clearly _does not work_ would be nice.

[2022-03-01 14:32] rpearce commented on #80
@magoz I can't look at this until tonight (Eastern USA time). Thanks for putting that together.

[2022-03-01 21:55] SunnyAureliusRichard opened #81 "useLayoutEffect warning in nextjs"
Hi,

Is it possible to have a setting that switches between useEffect and useLayoutEffect? I can see it was introduced in #77 .

This is the warning I'm getting:

    Warning: useLayoutEffect does nothing on the server, because its effect cannot be encoded into the server renderer's output format. This will lead to a mismatch between the initial, non-hydrated UI and the intended UI. To avoid this,

[2022-03-02 04:05] rpearce commented on #81
That's a bummer.

I'll see about adding this as a patch release when I get some time. It might be tomorrow or a few days from now.

[code]

[2022-03-02 12:35] magoz commented on #80
@rpearce That was indeed my first thought. I'll have a look at it this evening or tomorrow and get back to you. Thanks!

[2022-03-03 00:02] SunnyAureliusRichard opened #82 "Issue when textarea reaches the end of the window height size"
Greetings!

There's an issue with the view height flipping between where the cursor is, and the top of the page.

Demo available @ https://codesandbox.io/s/tailwind-css-and-react-forked-qhfgif?file=/src/components/Homepage.js

To reproduce, do the same as in the gif:
![react-expanding-textarea](https://user-images.githubusercontent.com/100728856/156470201-5be83696-1873-4621-8777-04e117fe95b1.gif)

[2022-03-03 03:59] #81 closed

[2022-03-03 04:07] rpearce commented on #81
This fix should be available in `v2.3.5`. I've also added you to the all contributors in the README for your bug reporting! Thank you.

<img width="364" alt="imagen" src="https://user-images.githubusercontent.com/592876/156494401-25a17bd0-2f05-4f1d-8284-f112915edb29.png">

[2022-03-03 04:13] rpearce commented on #82
Thanks for reporting this and providing a demo — that is very helpful.

Commenting out that line prevents the auto-resizing from working.

<img width="360" alt="imagen" src="https://user-images.githubusercontent.com/592876/156494673-ccd7ab6c-f09d-4312-b702-0dac8b9435e6.png">

I'll need to think on this one... Other ideas are welcome, as well.

[2022-03-04 02:57] SunnyAureliusRichard commented on #82
It works fine for me, what's the issue?

[2022-03-04 03:43] rpearce commented on #82
In the screenshot above, the textarea does not resize with the content, and that is what this library is supposed to do.

If you run the Storybook examples (`npm start`) in the project and comment that line out, this quickly becomes apparent:

<details>
  <summary>The minimalist text area does not resize</summary>

<img width="408" alt="imagen" src="https://user-images.githubusercontent.com/592876

[2022-03-06 00:25] SunnyAureliusRichard commented on #82
The solution might be to create another textarea that is hidden, with the same text as the "real" textarea, that can be used to fetch the height the expanding textarea should set to

see: https://stackoverflow.com/a/56914733/1204843

[2022-03-06 03:57] rpearce commented on #82
I'm aware of this technique, but I'm personally not a fan of having duplicate markup and content like that in the browser for a few reasons.

I will try to find a different solution. Thanks for your patience

[2022-03-12 04:28] rpearce commented on #82
@SunnyAureliusRichard If you get a moment, are you able to evaluate https://github.com/rpearce/react-expanding-textarea/pull/85? If I don't hear back within a few days, I'll ship it out and follow back up here.

[2022-03-13 14:34] SunnyAureliusRichard commented on #82
Hi @rpearce

Thank you for this. It does seem to fix the problem, but it's not as smooth as it could be.

Here is "Style changes" story with the line "height = 0" commented out, and without the fix you've suggested. Notice that when I add more lines, the page continues to scroll down.
![react-expanding-textarea-with-height-nonzero](https://user-images.githubusercontent.com/100728856/158064459-5c0a

[2022-05-23 20:40] jeffreystorer opened #87 "Dependency Conflict With React 18.1.0"
I am getting a error message from npm audit fix:
npm ERR! code ERESOLVE
npm ERR! ERESOLVE could not resolve
npm ERR!
npm ERR! While resolving: react-expanding-textarea@2.3.5
npm ERR! Found: react@18.1.0
npm ERR! node_modules/react
npm ERR!   react@"^18.1.0" from the root project
npm ERR!   peer react@">=18" from @chakra-ui/accordion@2.0.1
npm ERR!   node_modules/@chakra-ui/accordion
npm ERR!     @

[2022-05-23 22:03] rpearce commented on #87
For now, use

[code]

The error message suggests this, and it's what you must do until I update this library to allow React 18 as a peer dependency.

I'll update the project tonight and/or tomorrow and follow up here once I publish a new patch version.

[2022-05-23 22:05] jeffreystorer commented on #87
Great.  Thanks very much for the quick response.

Jeffrey B. Storer
617-279-6140 mobile
***@***.***

53 Peregrine Crossing
Savannah, GA  31411-2863
912-335-1565

On Mon, May 23, 2022 at 6:03 PM Robert Pearce ***@***.***>
wrote:

[2022-05-24 03:31] rpearce commented on #87
@jeffreystorer I'm _almost_ done with the updates, but I've run out of time tonight. I'll get it done tomorrow night.

[2022-05-25 01:46] #87 closed

[2022-05-25 01:57] rpearce commented on #87
@jeffreystorer This should be resolved now. Thanks for opening the issue, and I've added you to the [contributors section in the readme](https://github.com/rpearce/react-expanding-textarea#contributors) for your contribution of raising this issue.

[2022-05-25 02:57] jeffreystorer commented on #87
You’re terrific.  Thanks very much.

On Tue, May 24, 2022 at 21:57 Robert Pearce ***@***.***>
wrote:

--
__________________
Jeffrey B. Storer
617-279-6140 (Mobile)
***@***.***

53 Peregrine Crossing
Savannah, GA  31411
912-335-1565 (Home)
610-646-2337 (Fax)

[2022-10-29 19:16] templeman15 commented on #82
Commenting back here as I'm running into the same issue. Any plan to merge in the PR or try the `height = 0`.

Thank you!

[2022-10-30 10:56] rpearce commented on #82
@templeman15 Both approaches have their own issue (see my note above about that `height: 0`), and I put this on the side after diving in for a bit and not getting anywhere.

[2022-11-04 02:48] rpearce commented on #82
I've spent a couple of nights refactoring this project to find a simpler way.

I need to do way more testing, but I may have just re-implemented this in `729 bytes` (minified & gzipped) and also solved this problem in the process.

We'll see how this shakes out! Stay tuned...

[2022-11-23 19:30] rpearce commented on #82
've got a few too many things going on, and I've paused this update and will get back to it at some point.